@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	--backdrop: #000;
	--fill: #333;
	--text: #DDF;

	background-color: var(--backdrop);
	color: var(--text);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: calc(92.5% + 1vmin);

	overflow: hidden;

	scrollbar-color: #AAD #0000;
}

#log-goal {
	text-align: center;
}
#log-pane {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	width: 16.5em;
}
#log-container {
	border: 0.125em solid #DDF;
	border-radius: 0.125em;
	padding: 0.5em;

	overflow-y: scroll;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 2.5em;
}

#calendar-pane {
	position: fixed;
	bottom: 0;
	left: 17em;
	right: 0;
	top: 0;
}
