@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	--negative-space: #000;
	--background: #222;
	--text: #DEE;

	background-color: var(--negative-space);
	color: var(--text);

	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: 112.5%;
}

.box {
	background-color: var(--background);
	border-radius: 0.5em;
	padding: 0.5em;
}

@media (prefers-color-scheme: light) {
	html {
		--negative-space: #88F;
		--background: #DDD;
		--text: #000;
	}
}
