html {
	font-family: sans-serif;
	font-size: calc(95% + 0.5vmin);
}

body {
	background-color: #000;
	color: #FEE;
	user-select: none;
}

/* #region Pane System */

.pane, .subpane {
	display: none;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.pane.active, .subpane.active {
	display: flex;
}

@media (min-width: 36rem) and (min-height: 20rem) {
	.subpane {
		display: flex;

		position: static;
	}
}

/* #endregion */
